<h1>Enter Your Quote Details</h1>
<%= simple_form_for @quote do |f| %>
  <br />
  <%= f.input :saying, :as => :text %>
  &nbsp;
  <%= f.input :author %>
  <br /> 
  <%= f.submit 'Hello', class: 'btn btn-danger' %>
<% end %>